.barList table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 40%;
}


.barList p{
    color: black;
    background: #ffa500;
    width: 25%;
    margin: 10px auto 0 auto;
    padding: 10px 0;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.barList tr{

}

.barList{
    width: 100%;
}

.barList td{
    font-size: large;
    padding: 10px 0;
    border: 1px solid #ffa500;
    width: 100%;
    box-shadow: 0 5px 25px rgba(0,0,0,.1);
    transition: transform 0.5s;
}

.barList td:hover {
    transform: scale(1.1);
    z-index: 100;
    background: #ffa500;
    box-shadow: 0 5px 25px rgba(0,0,0,.2);
    color: #fff;
    border: 2px solid #ffa400;
}