.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    padding: 10px;
    margin-left: 10%;
    margin-top: 10%
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
}

.description-container {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 4;
}

.description-container span{
    padding: 10px 200px 150px 10px;
    border: 1px solid #ffa500;
    border-radius: 16px;
}

.name-container{
     margin-bottom: 30px;
 }

.name-container p{
    font-size: 15px;
}

.name-container span{
    border-bottom: 1px solid #ffa500;
}

.address-container{
    margin-bottom: 30px;
}

.address-container p{
    font-size: 15px;
}
.address-container span{
    border-bottom: 1px solid #ffa500;
}
.phone-container{
    margin-bottom: 30px;
}

.phone-container p{
    font-size: 15px;
}
.phone-container span{
    border-bottom: 1px solid #ffa500;
}
button {
    width: 40%;
    padding: 12px 20px;
    margin: 8px;
    background-color: #ffa500;
    display: inline-block;
    border-radius: 8px;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #ffa500;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 15%;
}

.text-area{
    margin: 0 auto;
    width: 30%;
    resize: none;
    border: 1px solid #ffa500;
}