html, body {
    text-align: center;
    width: 100%;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana, serif;
    font-size: 20px;
}

.logout{
    position:fixed;
    right:10px;
    top:5px;
    background-color: #ffa500;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 5%;
}

.goBack{
    position:fixed;
    right:90%;
    top:5px;
    background-color: #ffa500;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 5%;
}