body {
    text-align: center;
}
h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}
.container {
    padding: 16px;
    margin-top: 20%;
}

span.psw {
    float: right;
    padding-top: 16px;
}

input[type=text], input[type=password] {
    width: 20%;
    padding: 12px 20px;
    margin: 8px;
    display: inline-block;
    border: 1px solid #ffa500;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #ffa500;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 15%;
}