<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Dostępne godziny</title>
</head>

<body>
<link href="/css/generalStyle.css" rel="stylesheet">
<link href="/css/availableReservations.css" rel="stylesheet">
<a href="/logout"> <button class="logout">Wyloguj</button></a>
<a th:href="@{'/bar/hasSeats?barId=' + ${barId}}"> <button class="goBack">Wróć</button></a>
<p>Dostępne godziny</p>
<table>
    <tbody class="table_body">
    <tr th:if="${availableReservations.empty}">
        <td colspan="2"> Brak dostępnych rezerwacji! </td>
    </tr>
    <tr th:each="reservation : ${availableReservations}">
        <form th:action="@{/reservation/createReservation}" method="post">
            <td><span th:text="${'Stolik no.' + reservation.barTable.id + ' dla ' + reservation.barTable.numberOfSeats + ' osób  |   ' + #temporals.format(reservation.startTime, 'HH:mm') + ' - ' + #temporals.format(reservation.endTime, 'HH:mm')}"> Name </span>
                <input type="text" name="tableId" th:value="${reservation.barTable.id}"/>
                <input type="text" name="startTime" th:value="${reservation.startTime}"/>
                <input type="text" name="endTime" th:value="${reservation.endTime}"/>
                <input type="text" name="barId" th:value="${barId}"/>
                <input type="submit" value="Rezerwuj">
            </td>
        </form>

    </tr>
    </tbody>
</table>
</body>
</html>