<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Lista barów</title>
</head>

<body>
<link href="/css/generalStyle.css" rel="stylesheet">
<link href="/css/barList.css" rel="stylesheet">
<a href="/logout"> <button class="logout">Wyloguj</button></a>
<div class="barList" >
<p>Lista barów</p>
<table>
    <thead>
    </thead>
    <tbody class="table_body">
    <tr th:if="${bars.empty}">
        <td colspan="2"> No Bars Available </td>
    </tr>
    <tr th:each="bar : ${bars}">
        <td><a th:href="@{'/bar?id=' + ${bar.id}}"><span th:text="${bar.name}"> Name </span></a></td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>