<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<link href="/css/login.css" rel="stylesheet">
<p th:if="${loginError}" class="error">Nie znaleziono takiego użytkownika</p>
<div class="container">
    <form th:action="@{/login}" method="post">

        <label for="username">Pseudonim:</label> <br>
        <input type="text" id="username" name="username" autofocus="autofocus" required/> <br/>
        <label for="password">Hasło:</label> <br>
        <input type="password" id="password" name="password" required /> <br/>
        <input type="submit" value="Zaloguj"/>
    </form>
</div>
</body>
</html>