<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Logowanie</title>
</head>

<body>
<link href="/css/generalStyle.css" rel="stylesheet">
<link href="/css/login.css" rel="stylesheet">
<p th:if="${loginError}" class="error">Nie znaleziono takiego użytkownika</p>
<p th:if="${loginFirst}" class="error">Zaloguj się, aby korzystać z serwisu</p>
<div class="container">
    <form th:action="@{/login}" method="post">

        <label for="username">Pseudonim:</label> <br>
        <input type="text" id="username" name="username" autofocus="autofocus" required/> <br/>
        <label for="password">Hasło:</label> <br>
        <input type="password" id="password" name="password" required /> <br/>
        <input type="submit" value="Zaloguj"/>
    </form>
</div>
</body>
</html>