<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/logout"> <button class="logout">Wyloguj</button></a>
<link href="/css/reservationDate.css" rel="stylesheet">
    <form th:action="@{/reservation/findSeats}" method="post">
        <p>Wpisz datę rezerwacji</p>
        <input type="text" name="barId" th:value="${barId}">
        <input type="date" name="reservation-date" th:value="${now}" th:min="${now}" autofocus="autofocus"><br>
        <input type="submit" value="Szukaj"/>
    </form>
</body>
</html>